.item-detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
 }

 .item-image {
    flex: 1; /* A imagem ocupa 1/3 do espaço */
  }
  
  .item-image img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd; /* Adiciona uma borda à imagem */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra sutil */
  }
  
  .item-details {
    flex: 2; /* Os detalhes ocupam 2/3 do espaço */
  }
  
  .item-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .item-author {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
  }
  
  .item-price {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .item-description {
    line-height: 1.6;
  }
  
  .item-actions {
    margin-top: 20px;
  }
  
 
 
 .item-detail-container img {
    width: 300px;
    height: auto;
    margin-bottom: 20px;
 }
 
 
 .item-detail-container h1 {
    font-size: 24px;
    margin-bottom: 10px;
 }
 
 
 .item-detail-container p {
    font-size: 18px;
    margin-bottom: 10px;
 } 

 .back-button {
    background-color: #212931; /* Cor de fundo do botão */
    color: white; /* Cor do texto */
    border: none; 
    padding: 10px 20px; /* Espaçamento interno */
    text-align: center; /* Alinhamento do texto */
    text-decoration: none; /* Sem sublinhado no link */
    display: inline-block; /* Exibe como bloco inline */
    font-size: 16px; /* Tamanho da fonte */
    margin: 4px 2px; /* Margem */
    cursor: pointer; /* Cursor de mãozinha */
    border-radius: 5px; /* Bordas arredondadas */
  }

  .buy-button {
    background-color: #4CAF50; /* Cor de fundo verde */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }