@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

$primary-color: #4d2e8e; // Cor primária
$secondary-color: #f8f9fa; // Cor secundária
$accent-color: #28a745; // Cor de destaque

.login-container {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;    
    min-height: 100vh;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    background-color: $secondary-color;
  }

.login-form {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: $primary-color;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
}

input[type="email"],
input[type="password"],
input[type="text"] { /* Seletor para todos os inputs de texto */
  width: 100%; /* Garante que o campo ocupe toda a largura disponível */
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;

  &:focus {
    outline: none;
    border-color: $primary-color;
  }
}

button[type="submit"] {
  background-color: $primary-color;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken($primary-color, 10%);
  }
}

.toggle-form {
  text-align: center;
  margin-top: 15px;
}

.toggle-form a {
  color: $accent-color;
  text-decoration: none;
  transition: color 0.3s ease;

  &:hover {
    color: darken($accent-color, 10%);
  }
}

/* Estilos para campos somente leitura */
.form-group input[readOnly] {
  background-color: #a59999;
  cursor: not-allowed;
}
