.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0f0c2b;
    padding: 0 20px; 
    height: 60px; 
    z-index: 1000;
    box-sizing: border-box;
  }
  
  .navbar-logo img {
    height: 60px; 
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navbar-links li {
    margin: 0 15px;
  }
  
  .navbar-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    height: 60px; 
  }
  
  .navbar-login button {
    background-color: white;
    color: #333;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .navbar-login button:hover {
    background-color: #ddd;
  }
  
  .content {
    margin-top: 60px; 
  }
  